@{
    ViewData["Title"] = "SaganDex";
}

<link rel="stylesheet" type="text/css" href="~/css/home.css" />

<body>  
        
    <div class="container">        
        <div class="row">
            <div class="col">
                <br /> 
                <div class="text-left">
                    <h3 class="text-justify">Bem-Vindo ao SAGANDEX,</h3>
                    <h4 class="text-justify"> sua agenda do Cosmos</h4>
                    <br />                    
                    <div class="card border-0" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Faça seu login</h5>
                            <p class="card-text">
                                para acessar os catálogos<br />
                                de Estrelas e Mundos.
                            </p>
                            <a href="/Login/Entrar" class="btn btn-secondary" align> Login </a>
                        </div>
                    </div>
                    
                    <br />
                    <div class="card border-0" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">É novo por aqui?</h5>
                            <p class="card-text">
                                Acesse a Lista de <br />
                                Usuários e cadastre-se!
                            </p>
                            <a href="/Usuarios/Create" class="btn btn-success">Novo Usuário</a>
                        </div>
                    </div>                    
                    <br />
                    
                    <p><img id="carl" src="~/3863-PhotoRoom.png" /> </p>
                    <p id="homenagem">Em homenagem à Carl E. Sagan </p>
                </div>
             </div>
            <div class="col">
                <div class="text-right">
                    <img src="~/Logotipo-Sagandex-v8-PhotoRoom.png" />
                 </div>
                </div>
            </div>
    </div>
</body>
